.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Image-container {
  height: 400px;
  width: 400px;
  padding: 20px;
  background-color: rgb(85, 163, 236);
  justify-content: center;
}

.Game-title {
  position: left;
  height: 30px;
  width: 30px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navbar {
  background: #5133a4;
  min-height: 70px;
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  color: #fff;
  font-size: calc(10px + 14 * (100vw - 320px) / 800);
  z-index: 99;
  white-space: nowrap;
}

.navbar li {
  display: inline-block;
  padding: 26px 0;
  width: 33.3%;
  text-align: center;
}
